<!DOCTYPE html>
<html>
<head>
	<title>NEW_CARS</title>
	<style type="text/css">
		h1	{
			margin-left: 70px;
		}
		form{
			text-align: right;
			border: solid black 1px;
			width: 300px;
			margin-left: 50px;
		}
		input{
			margin: 10px;
		}
	</style>
</head>
<body>
<h1>Submit a new car!</h1>
<form>
	Make:<input type="textarea" name="make"><br>
	Model:<input type="textarea" name="model"><br>
	Year:<input type="textarea" name="year"><br>
	Color:<input type="textarea" name="color"><br>
	<input type="submit" name="submit">
</form>

</body>
</html>