<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
</head>
<body>
	<h1>Add User</h1>
	<hr>
	<form>
		<label>First Name: <input type="text" id="first" value="First Name"></label>
		<label>Last Name: <input type="text" id="last" value="Last Name"></label>
		<label>Email Address: <input type="text" id="email" value="Email Address"></label>
		<label>Contact Num.: <input type="text" id="contact" value="Phone #"></label>
		<input id="submit" type="submit" value="Add User">
	</form>
</body>
</html>