/*CSS reset settings here*/
*{
	margin: 0px;
	padding: 0px;
}
hr{
	margin-left: 100px;
	margin-bottom: 20px;
	width: 350px;
}
form{
	text-align: right;
	width: 450px;
}
label{
	display: block;
	margin-left: 150px;
	margin-bottom: 10px;
}
#submit{
	margin-top: 30px;
	margin-left: 270px;
	font-size: 20px;
}